<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style> 
        a:link a:visited{
            color:rgb(205, 0, 150);
            text-decoration: none;
        }

        body {
            text-align: center;
        }
    </style>
</head>
<body style="background-color: darkslategray;
    <h1 style="color:blueviolet">Proyecto aplicacion web con flask</h1>
   \<h2>Calculadora sencilla</h2>
    <p> selecciona la operacion que desees realizar</p>
    <ul>
        <li><a  href="/suma?num1&num2">sumar</a></li>
        <li><a href="/resta?num1&num2">restar</a></li>
        <li><a href="/divide?num1&num2">multiplicar</a></li>
        <li><a href="/multiplica?num1&num2">dividir</a></li>
    </ul>
</body>
</html>